.App {
    color: white;
}

.flex-row{
  display: flex;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.color-blue{
  color:rgb(36, 96, 215);
}

.justify-content{
  justify-content: center;
}

.align-items{
  align-items: center;
}

.gap{
  gap: 1rem;;
}

.heading-center{
  display: flex;
  justify-content: center;
}

.width{
  width: 80%;
}

.margin-one{
  margin: 1rem;
}
